* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;

    
}

html {
    scroll-behavior: smooth;

}

body {
   
    background-color: #151a1a;
}
#about{
    color: white;
}

h1 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* line-height: 100px; */
    color: #efeded;
    font-weight: 600;
    margin: 2rem;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #f8f6f6;
    font-weight: 600;
  

}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 200 ;
}
h3{
    color: rgb(0, 255, 34);
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
} 

h4 {
    font-size: 30px;
    color: #f2eeee;
    font-weight: 600;
  
   
}



p {
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.884);
    margin: 25px 0 20px 0;
    /* font-family: 'Caveat', cursive; */
  

}

.logo {
    font-size: 27px;
    font-weight: 600;
    color: #fff;
    padding-left: 2%;
}

#menu-icon {
    font-size: 3.3rem;
    color: #fff;
    display: none;
}


#header {

    display: flex;
 
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #09030f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    /* z-ind ex: 999; */
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

#navbar {
    display: flex;
    text-align: center;
    justify-content: center;
    

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    text-decoration: 0;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #f9eeee;
    transform: 0.4s ease;
}

#navbar li a:hover,
#navbar li a.active {

    color: rgb(0, 255, 34);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(0, 255, 34);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#home{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 120px;
    margin:auto;
    padding-left: 12rem;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.social-media a {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid ;
    font-size: 1.5rem;
    border-radius: 50%;
    color: rgb(240, 245, 245);
    margin: 1.8rem 1.4rem 1.8rem 0;

    transition: 0.8s ease;
}

.social-media a:hover {
    background: rgb(0, 255, 34);
    text-decoration: none;
    box-shadow: 0 0 20px rgb(0, 255, 34);
    color: #181a19;

}

.btn{
    background-color: rgba(0, 255, 34, 0.829);
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    padding: 0.7rem 4.5rem;
    margin: 2rem 0rem;
    box-shadow: 0 0 30px rgb(0, 255, 34);

}

.click:hover {
    color: #fff;
}

.home-img img {
 
    margin-top: 2.5rem;
    width: 100%;
    height: max-content;
    border-radius: 5px;
    border: rgb(3, 74, 74);
}
.ab {
    text-align: center;
   
   font-size: 5rem;
    margin-top: 5px; 
}
.a:hover{
    font-size: 90px;
    color: #00ff22;
}
.b:hover{
    font-size: 90px;
    color: rgb(0, 255, 34);
}
.u:hover{
    font-size: 90px;
    color: rgb(0, 255, 34);
}
.o:hover{
    font-size: 90px;
    color: rgb(0, 255, 34);
}
.t:hover{
    font-size: 90px;
    color: rgb(0, 255, 34);
}
.m:hover{
    font-size: 90px;
    color: rgb(0, 255, 34);
}
.e:hover{
    font-size: 90px;
    color: rgb(0, 255, 34);
}
.g:hover{
    font-size: 50px;
    color: rgb(0, 255, 34);
}
.mn:hover{
    font-size: 50px;
    color: rgb(0, 255, 34);
}
.p:hover {
    font-size: 90px;
    color: rgb(0, 255, 34);
}
.r:hover {
    font-size: 90px;
    color: rgb(0, 255, 34);
}
.c:hover {
    font-size: 90px;
    color: rgb(0, 255, 34);
}
.j:hover {
    font-size: 90px;
    color: rgb(0, 255, 34);
}
.e:hover {
    font-size: 90px;
    color: rgb(0, 255, 34);
}


.about {
 margin: 20%;
 margin-top: 5rem;
 padding-top: 150px;

}
/* .skills{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.397);
    border: 1px solid gray;
    color: rgb(0, 255, 34);
    padding: 10px 20px 10px 10px;
    margin: 1rem;
    border-radius: 10px
    
} */
.about-content{
    display: flex;
    text-align: center;
   
}

.about-content::after {
    content: "";
    display: table;
    clear: both;
}
.profile{
    width: 50%;
   text-align: left;
   margin-right: 50px;
   
}
.profile p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#skills{
    width: 40%;
    text-align: left;
    margin-left: 4rem;
   
}
.box{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.397);
    border: 1px solid gray;
    color: rgb(0, 255, 34);
    padding: 10px 10px 5px 10px;
    margin: 0.5rem;
    border-radius: 5px;
   
}
.about-sub {
 font-size: 3rem;
 margin-left: 0rem;

}

.about-box {
    background-color: rgb(0, 255, 34);
    box-sizing: border-box;
    border:2px solid solid;
    border-radius: 30px;
   
    margin-left: 45%;
    margin-top: -14px;
    margin-bottom: 80px;
    
    width: 10%;
    height: 8px;
}
.about-p {
  
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   font-size: 20px;
   font-family: 'Poppins', sans-serif;
   font-family: 'Poppins', sans-serif;
   text-transform: capitalize;
   color: rgba(255, 255, 255, 0.884);
   margin: 25px 0 20px 0;
  
}
.about {
    margin: 20%;
    margin-top: 5rem;
    padding-top: 150px;
   
   }
.project-box {
    
    text-align: center;
    padding-left: 15%;
    display: flex;
   
}
.project {

}
.project-sub1{
  
}
.project-sub2 {
text-align: left;
justify-content: center;

background-color:#030303;
font-family: 'Poppins', sans-serif;
margin-left: -1rem;
margin-top: 9%;
margin-right: 17%;
margin-bottom: 1%;
padding:2rem 2rem;

}
#project-img {
    display: flex;
    margin-left: 5%;
    margin-top: 10rem;
   
}
.img-box {
    margin: 20px;
    margin-left: 6rem;
    padding: 20px 20px;
    background-color: black;
    border-radius: 10px;
    height: 400px;
    
}
.subbox{
   display: block;
   width: 400px;
   padding-top: 20px;
   color: white;
 
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
